.git
.github
.env
.env.*
node_modules
vendor
storage/app/private/*
storage/app/public/*
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*
storage/logs/*
bootstrap/cache/*.php
public/build
public/hot
public/storage
database/database.sqlite
npm-debug.log
yarn-error.log
